<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Advertencia,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Advertencia,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\Alejandro\Desktop\Web Service Log\web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\Users\Alejandro\Desktop\Dime Log\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <connectionStrings>
    <add name="DimeContext" connectionString="Data Source=172.18.175.54;Initial Catalog=DIME_PRU;User ID=JPESA;Password=&quot;J@ZGNZhc87 &quot;" providerName="System.Data.SqlClient"/>
    <add name="MaestrosContext" connectionString="Data Source=172.18.175.54;Initial Catalog=MAESTROS;User ID=JPESA;Password=&quot;J@ZGNZhc87 &quot;" providerName="System.Data.SqlClient"/>
    <!--  <add name="DimeContext" connectionString="Data Source=DESKTOP-954H82U\ALCHAZ;Initial Catalog=DIME;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service name="Telmexla.Servicios.DIME.WebServices.MainWebService.WebService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IMainWebService.IWebService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.ILoginService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IInboundService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IMaestrosService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IBlendingService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IMarcacionesService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.INotificacionesBuenServicioService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.ICasosCelulaService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.ICasosAdminService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.ITrasladosService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IMaestroNodoService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IActivacionClaroVideoService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IActivacionSiembraHDService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IBalanceScoreCardService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IGraficosService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IUsabilidadService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IDistribucionBlendingService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IMecService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IMultiPlayService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.ICierreCicloService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IBackEliteService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IRecurrenciaService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IBitacoraIncidentesService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IPOMSolicitudesService" bindingConfiguration="mexBinding"/>
        <!--<endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IFidelizacionService" bindingConfiguration="mexBinding"/>-->
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IVerificacionDeInventarioService" bindingConfiguration="mexBinding"/>
        <endpoint address="WebService" binding="wsHttpBinding" contract="Telmexla.Servicios.DIME.IWebServices.IVisitasAutorizadasService" bindingConfiguration="mexBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="mexBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CustomValidator, App_Code"/>
            <serviceCertificate findValue="DimeServiceCertification2" x509FindType="FindBySubjectName" storeName="My" storeLocation="CurrentUser"/>
          </serviceCredentials>
          <serviceThrottling maxConcurrentCalls="5000000" maxConcurrentSessions="5000000" maxConcurrentInstances="5000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <identity impersonate="false" password="" userName=""/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>